<app-navbar></app-navbar>


<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>My dashboard</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a routerLink="/landing/home">Home</a></li>
				  <li class="breadcrumb-item active">My dashboard</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section schedule">
	<div class="container">
		
		<div class="my-workshop-container">
			
			<div class="workshop-table">
				<div class="schedule-contents bg-schedule">
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active schedule-item" id="nov20">
						<table class="m-0 p-0">
							<tr class="headings">
								<th><div class="time">Time</div></th>
								<th><div class="speaker">Workshop</div></th>
								<th><div class="subject">DURATION</div></th>
								<th><div class="venue"></div></th>
							</tr>
							<tr *ngFor="let w of list" class="schedule-details block">
								
									<td class="time-td"> 
										<div class="time">
										<i class="fa fa-clock-o"></i>
										<span class="time">{{w.dateDebut | date: 'dd/MM/yyyy hh:mm a'}}</span>
										</div>
									</td>
									<td class="speaker-td">
										<div class="speaker">
									 	<span class="name">{{w.nom}}</span>
										</div>
									</td>
									<td class="subject-td"><div class="subject">{{ getDuration(w.dateDebut, w.dateFin) }}
									</div></td>
									<td class="venue-td"><div class="venue"><button class="button-delete">Delete</button></div></td>
								
								
							</tr>
						</table>
					  </div>
					  
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</section>



<app-footer></app-footer>
