<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
    <div class="container-fluid p-0">
        <!-- logo -->
        <a class="navbar-brand" href="index.html">
          <img src="assets/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/landing">Home<span>/</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/landing/about">About<span>/</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="landing/contact">Contact</a>
            </li>
            
            </ul>
            <li class="nav-item dropdown active dropdown-slide" style="position: relative;list-style: none;">
            <a href="#" class="ticket">
            <span style="border: none !important;">Account</span>
            <span style="border: none !important;"><i class="fa fa-caret-down"></i></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html"><i class="fa fa-sign-in dropdown-icons" aria-hidden="true"></i>Signin</a>
                <a class="dropdown-item" href="homepage-two.html"><i class="fa fa-user-plus dropdown-icons"></i>Signup</a>
            </div>
            </li>
        </div>
        
    </div>
  </nav>