<section class="vh-100 gradient-custom login-body">
    <div class="container h-100 login-container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card card-style img-fluid left-img" style="border-radius: 1rem;">
            
                <div class="card-body p-4 px-lg-5 text-black">
  
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  
                    <div class="d-flex align-items-center mb-3 pb-3 pt-3">
                        <img src="assets/logo-vertical.png" class="img-logo " alt="logo">
                    </div>
  
                    
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form2Example17">New password</label>
                                <input type="password" [(ngModel)]="passwordValue" formControlName="newPassword"  id="form2Example17" class="form-control form-control-lg" />
                                <div *ngIf="f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched)">
                                    <div class="text-danger" *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']" >*New password is required please fill it</div>
                                </div>
                                <div *ngIf="(f['confirmPassword'].dirty || f['confirmPassword'].touched)">
                                    <div class="text-danger" *ngIf="confirmPasswordCheck === false" >*Confirm password and new password are not the same !</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example27">Confirm password</label>
                                <input type="password" [(ngModel)]="confirmPasswordValue" (change)="confirmPasswordOnChange()" formControlName="confirmPassword" id="form2Example27" class="form-control form-control-lg" />
                                <div *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)">
                                  <div class="text-danger" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']" >*Confirm password is required please fill it</div>
                                </div>
                                <div *ngIf="(f['confirmPassword'].dirty || f['confirmPassword'].touched)">
                                    <div class="text-danger" *ngIf="confirmPasswordCheck === false" >*Confirm password and new password are not the same !</div>
                                </div>
                              </div>
                        </div>
                    </div>
                    
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-lg btn-block button-login mt-2" [disabled]="!resetForm.valid || !confirmPasswordCheck" type="submit">Submit</button>
                    </div>
                  </form>
  
                </div>
              
          </div>
        </div>
      </div>
    </div>
  </section>