<app-navbar></app-navbar>


<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>My dashboard</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a routerLink="/landing/home">Home</a></li>
				  <li class="breadcrumb-item active">My dashboard</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section schedule">
	<div class="container">
		
		<div class="my-workshop-container">
			<div class="equipe-title">
				<div class="team-name-field-container" *ngIf="equipeExists == true; else noEquipeBlock">
					<div *ngIf="leader == true; else notLeader" class="team-name-field" contentEditable="true" (blur)="mouseClickAlert($event)" (keydown.enter)="updateEquipeNom($event)">
						{{ equipe.nom }}
					</div>
					<ng-template #notLeader>
						{{ equipe.nom }}
					</ng-template> 
					<i (click)="exitTeam()" class="fa fa-ban"></i>
				</div>
				<ng-template #noEquipeBlock>
					<div *ngIf="NoEquipeNotLeader == true">No team</div>
				</ng-template>
			</div>
			
			<div class="workshop-table">
				<div class="schedule-contents bg-schedule">
					<div *ngIf="leader == true; else ifBlock1">
						<div *ngIf="showEquipeNameAlert" class="alert-class">
							<div class="alert alert-warning alert-dismissible fade show" [ngClass]="{'alert-danger':alertDanger,'alert-warning':alertWarning,'alert-info':alertInfo,'alert-secondary':alertSecondary}" role="alert">
								<div class="row">
									<div class="col-10"><div class="alert-message">{{alertMessageEquipeName}}</div></div>
									<div class="col-2" style="text-align: center;">
										<a style="cursor: pointer;" type="button" (click)="showEquipeNameAlert = false" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="team-leader-container-gpt">
							<div *ngFor="let member of teamMembers; let i = index">
								<div class="team-leader-member-gpt">
									<img *ngIf="leaderOfEquipe.email != member.email" class="image-member" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="Team member photo">
									<img *ngIf="leaderOfEquipe.email == member.email" class="image-member-mark" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="Team member photo">
									<div class="team-leader-member-details-gpt">
										<p>{{member.nom+" "}} {{" "+member.prenom}}</p>
										<p><strong>Email:</strong> <br> <span class="break-all-class">{{member.email}}</span></p>
										<p><strong>University:</strong> <br> <span>{{member.etablissement}}</span></p>
									</div>
									<button *ngIf="member.email != user.email" (click)="kickMember(member)" class="team-leader-member-gpt-button">Kick</button>
								</div>
							</div>
							<!-- Add more team members as needed -->
							<div *ngIf="teamMembers.length < 6" (click)="openDialogInvitation()" class="team-leader-add-member-gpt add-member-card">
								<i class="fa fa-user-plus"></i>
								<p>Click to add new team member</p>
							</div>
						</div>
					  </div>

					  <ng-template #ifBlock1>
						<div *ngIf="equipeExists == true; else ifBlock2">
							<div class="alert alert-info" role="alert">
								You are not the leader of <a style="font-weight:bold">{{equipe.nom}}</a> you can only view your teammates
							</div>
							<div class="team-container-gpt">
								<div *ngFor="let member of teamMembers; let i = index">
									<div class="team-member-gpt">
										<img *ngIf="leaderOfEquipe.email != member.email" class="image-member" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="Team member photo">
										<img *ngIf="leaderOfEquipe.email == member.email" class="image-member-mark" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="Team member photo">
										<div class="team-member-details-gpt">
											<p>{{member.nom+" "}} {{" "+member.prenom}}</p>
											<p><strong>Email:</strong> <br> <span class="break-all-class">{{member.email}}</span></p>
											<p><strong>University:</strong> <br> <span>{{member.etablissement}}</span></p>
										</div>
										
									</div>
								</div>
							</div>
							
						</div>
						<ng-template #ifBlock2>
							<div *ngIf="NoEquipeNotLeader == true">
								<div class="alert alert-danger" role="alert">
									<i class="fa fa-exclamation-circle"></i> Can't have access to this page unless you are a team leader.<a style="cursor: pointer;" (click)="openDialogTeamCreation()" class="alert-team-link"> Create a team clicking this link</a><br> It will be a greate experience for you joining our hackathon with a team.
								</div>
							</div>
						</ng-template>
					  </ng-template>
                        

                        <!--
                            <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        -->
                        
					  
				</div>
			</div>
			
		</div>
	</div>
	
</section>



<app-footer></app-footer>
