<app-navbar></app-navbar>


<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>My dashboard</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a routerLink="/landing/home">Home</a></li>
				  <li class="breadcrumb-item active">My dashboard</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section schedule">
	<div class="container">
		
		<div class="my-workshop-container">
			<div class="workshop-nav">
				<i class="fa fa-arrow-right" aria-hidden="true"></i><a routerLink="/landing/invitations">Invitations</a><span>/</span><a routerLink="/landing/workshops">My Workshops</a>
			</div>
			<div class="workshop-table">
				<div class="schedule-contents bg-schedule">
					<div >
                        <div class="card">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                                </div>
                                <div class="col-9">
                                    <a >You have a new invitation from <a style="color:#000000 ; font-weight: bold;"></a> to join their team <a style="color:#000000 ; font-weight: bold;"></a> 
                                        
                                    </a>
                                </div>
                                <div class="col-2"><i  class="fa fa-sort-desc down" aria-hidden="true"></i></div>
                            </div>
                            
                        </div>
                        <div class="card-second">
                            <div class="cursor-class">
                                <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                                <a >You have a new invitation from <a style="color:#000000 ; font-weight: bold;"></a> to join their team <a style="color:#000000 ; font-weight: bold;"></a> 
                                    <i class="fa fa-sort-desc down" aria-hidden="true"></i>
                                </a>
                            </div>
                            
                            
                        </div>
                    </div>
                        

                        <!--
                            <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        -->
                        
					  
				</div>
			</div>
			
		</div>
	</div>
	
</section>



<app-footer></app-footer>
