.colors{
    color: rgb(86, 0, 226) /*#5600E2*/;
    color: rgb(0, 135, 255) /*#0087FF*/;
    color: rgb(0, 96, 255) /*#0060FF*/;
    color: rgb(0, 161, 255) /*#00A1FF*/;
    color: rgb(0, 182, 225) /*#00B6E1*/;
    color: rgb(0, 201, 161) /*#00C9A1*/;
    color: rgb(36, 36, 36) /*#242424*/;
}