<app-navbar></app-navbar>

    <div class="main-container">
        <div class="profile-page-container">
            <div class="row profile-settings">
                <div class="col-md-4 left-side">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-2"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        
                    </div>
                </div>
                <div class="col-md-8 border-right">
                    <div class="p-3 details-part">
                        <div class="">
                            
                        </div>
                        <div class="row ">
                            <div class="col-md-6 details">
                                <span class="labels">FullName :</span>
                                <p>{{user.nom+" "}} {{" "+user.prenom}}</p>
                            </div>
                            <div class="col-md-6 details">
                                <span class="labels">Email :</span>
                                <p>{{user.email}}</p>
                            </div>
                            <div class="col-md-6 details">
                                <span class="labels">Cin :</span>
                                <p>{{user.cin}}</p>
                            </div>
                            <div class="col-md-6 details">
                                <span class="labels">Team :</span>
                                <p>Moez Mahmoud</p>
                            </div>
                            <div class="col-md-12 details">
                                <span class="labels">Campus :</span>
                                <p>Moez Mahmoud</p>
                            </div>
                            <div class="col-md-12 details">
                                <span class="labels">JE :</span>
                                <p>Moez Mahmoud</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

<app-footer></app-footer>

<!--
nom
prénom
cin
num tel
email
etablissement
je (oui/non) si oui quelle je
profile picture
-->
