<app-navbar></app-navbar>


<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>My dashboard</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a routerLink="/landing/home">Home</a></li>
				  <li class="breadcrumb-item active">My dashboard</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section schedule">
	<div class="container">
		
		<div class="my-workshop-container">
			<div class="workshop-nav">
				<i class="fa fa-arrow-right" aria-hidden="true"></i><a routerLink="/landing/invitationsSent">Invitations sent</a><span>/</span><a class="invi-received" routerLink="/landing/invitationsReceived">Invitations received<div class="circle-icon"><span>{{invitationNumber}}</span></div></a>
			</div>
			<div class="workshop-table">
				<div class="schedule-contents bg-schedule">
					
					<div *ngIf="leader == true && equipeExists == true; else ifBlock1">
						<div *ngFor="let invitation of invitationsSent; let i = index">
							<div class="card">
								<div class="detail">
									<i class="fa fa-envelope-o mail" aria-hidden="true"></i>
								<p>Invitation Sent to <a style="color:#2f2f2f">{{receivers[i].nom}}</a> with adresse mail <a style="color:#2f2f2f">{{receivers[i].email}}</a> to join your team <a style="color:#2f2f2f">{{equipe.nom}}</a> </p>
								</div>
								
								<div class="button-deletion">
									<button (click)="withdrawInvitation(invitation.idInvitation)" class="btn btn-outline-danger">Withdraw invitation</button>
								</div>
							</div>
						</div>
						
					</div>
					<ng-template #ifBlock1>
						<div *ngIf="equipeExists == true && leader == false; else ifBlock2">
							<div class="alert alert-info" role="alert">
								You are not the leader of <a style="font-weight:bold">{{equipe.nom}}</a>
							  </div>
						</div>
						<ng-template #ifBlock2>
							<div *ngIf="thirdCondition == true">
								<div class="alert alert-danger" role="alert">
									<i class="fa fa-exclamation-circle"></i> Can't send or see invitations here unless you are a team leader.<a routerLink="/landing/team" class="alert-team-link"> Create a team clicking this link</a><br> Create a team or join one to live a great experience.
								</div>
							</div>
						</ng-template>
					</ng-template>
					  <!--
						<div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
                        <div class="card">
                            <i class="fa fa-envelope-o mail" aria-hidden="true"></i>
                            <p>You have a new invitation from <a style="color:#2f2f2f">mohamed.tlili@esprit.tn</a> to join their team </p><i class="fa fa-sort-desc down" aria-hidden="true"></i>
                        </div>
					  -->
                    	
					  
				</div>
			</div>
			
		</div>
	</div>
	
</section>



<app-footer></app-footer>
