:host {
  display: block;
}

.login-body {
    font-family: "michroma" !important;
    font-size: 10px !important;
    height: 1050px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

/*
  .card-style{
    background-image: url("src/assets/Dot Mania.png");
    background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.07);
}
.card-style:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.93);
  }
  
  .card-style > * {
    position: relative;
    z-index: 1;
  }
*/

p, a, li, blockquote, label{
    font-size: 13px ;
}

.gradient-custom {
    /* fallback for old browsers */
    background: rgb(142, 23, 44);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(142, 23, 44, 1), rgba(38, 38, 38,1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgb(0 38 30), rgba(38, 38, 38,1));
    }

.img-logo{
  width: 75px;
  height: 75px;
  margin: auto;
}

.singin-text{
    margin: auto;
    width: 100%;
}

.left-img{
    height: 100%;
    
}

.button-login{
    font-family: "michroma" !important;
    font-size: 17px;
    background-color: #0040a9;
    color: white;
}
.button-login:hover, 
.button-login:focus {
  animation: #0087FF 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.login-container{
    /*padding-top: 5.4rem !important;
    padding-bottom: 5.4rem !important;*/
}

.return-button{
    font-size: 14px;
    color: #848484;
}

.return-button span{

}

.return-button .icon{
    padding-right: 5px;
}

.select-form{
  border: 1px solid rgba(0,0,0,.15);
    padding: 3px;
    margin-left: 13px;
    color: #5c5c5c;
}

.select-form select{
  border: 1px solid rgba(0,0,0,.15);
    padding: 3px;
    margin-left: 13px;
    color:rgba(0,0,0,.5)
    
}

button select {
  color:rgba(0,0,0,.5)
}


.label-file {
  cursor: pointer;
  color: #848484;
}
.label-file:hover {
  color: #25a5c4;
}




.image-input {
  display: inline-block;
  margin-top: 20px;
}

.image-field {
  width: 65px;
    height: 65px;
  border-radius: 50%;
  margin-right : 20px
}



.input-file{
  width:170px 
}
.input-file::-webkit-file-upload-button {
  visibility: hidden;
}
.input-file::before {
  color: #848484;
  content: 'Put photo here';
  display: inline-block;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.input-file:hover::before {
  color: #25a5c4;
}
.input-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.jeMembre{
  margin-top: 45px;
}

@media(max-width:767px){
  .jeMembre{
    margin-top: 0;
  }
  .image-input{
    margin-top: 0;
  }
}





  


