<section class="vh-100 gradient-custom login-body">
    <div class="container h-100 login-container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card card-style img-fluid left-img" style="border-radius: 1rem;">
            
                <div class="card-body p-4 px-lg-5 text-black">
  
                  <form [formGroup]="signUp" (ngSubmit)="onSubmit()">
  
                    <div class="d-flex align-items-center mb-3 pb-3 pt-3">
                        <img src="assets/logo-vertical.png" class="img-logo " alt="logo">
                    </div>
  
                    
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-outline mb-4">
                              <label class="form-label" for="form2Example17">First name</label>

                              <input type="text" formControlName="nom"  id="form2Example17" class="form-control form-control-lg" />
                            </div>
            
                            <div class="form-outline mb-4">
                              <label class="form-label" for="form2Example27">Last name</label>
  
                              <input type="text" formControlName="prenom" id="form2Example27" class="form-control form-control-lg" />
                            </div>
            
                            <div class="form-outline mb-4">
                              <label class="form-label" for="form2Example27">N° Cin</label>
  
                              <input type="text" formControlName="cin" id="form2Example27" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                              <label class="form-label" for="form2Example17">Email</label>
  
                              <input type="text" formControlName="email" id="form2Example17" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                              <label class="form-label" for="form2Example17">Password</label>
  
                              <input type="password" formControlName="password" id="form2Example17" class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-outline mb-4">
                              <label class="form-label" for="form2Example17">Campus</label>
  
                              <input type="text" formControlName="etablissement" id="form2Example17" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example17">Are you a JE member ?</label><br>
                                <div class="row">
                                    <div class="col-4">
                                        <input formControlName="jeMember" [(ngModel)]="jeMember" type="radio" id="contactChoice1"
                                        name="jeMember" value="yes">
                                        <label class="mr-4" for="contactChoice1">Yes</label>
                                        <input formControlName="jeMember" [(ngModel)]="jeMember" type="radio" id="contactChoice1"
                                        name="jeMember" value="no">
                                        <label  for="contactChoice1">No</label>
                                    </div>
                                    <div class="col-6 align-self-start">
                                        <div *ngIf="jeMember == 'yes' " class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">JE</label>
                                            <select class="select-form" formControlName="je">
                                              <option [ngValue]="null" disabled>Select your JE</option>
                                              <option *ngFor="let je of jeObject" [ngValue]="je">{{je.nom}}</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-outline mb-4 image-input">
                                <img *ngIf="imagePath == '';else elseBlock" class="image-field" src="assets/no-user-image-icon-27.jpg">
                                <ng-template #elseBlock><img class="image-field" [src]="imagePath" ></ng-template>
                                <p>{{imagePath}}</p>
                                <input [value]="imagePath" #imageInput formControlName="imagePath" (change)="imageFileOnChange(imageInput)" type="file" id="imageinput" class="input-file" />
                                
                            </div>
                            
                        </div>
                    </div>
                    
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-lg btn-block button-login" type="submit">SignUp</button>
                    </div>
  
                    
                    <p class="mb-5 pb-lg-2">Already have an account <a  routerLink="/auth">Login here</a></p>
                  </form>
                  <a routerLink="/landing">
                    <div class="return-button">
                      <span><i class="fa fa-arrow-circle-left icon"></i>Return</span>
                    </div>
                  </a>
  
                </div>
              
          </div>
        </div>
      </div>
    </div>
  </section>