<div class="panel-header panel-header-sm">
</div>
<div class="main-content" style="margin-top: 100px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Logo
                </th>
                <th>
                  name
                </th>
                <th>
                  created at
                </th>
                <th>
                  members list
                </th>
                <th class="text-center">
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let team of list">
                  <td>
                    <img src="" alt="team logo" width="60px" height="60px">
                  </td>
                  <td>
                    {{team.nom}}
                  </td>
                  <td>
                    {{team.dateCreation}}
                  </td>
                  <td>
                    team members: 
                    <ol><li *ngFor="let m of team.membres">{{m.prenom}} {{m.nom}}</li></ol>
                  </td>
                  <td class="text-center">
                    <!-- info icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#00D100" class="bi bi-info-circle icon" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                  </td>
                </tr>
              </tbody>
            </table>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
