<app-navbar></app-navbar>


<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Workshops</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a routerLink="/landing/home">Home</a></li>
				  <li class="breadcrumb-item active">Workshops</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section schedule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Event <span class="alternate">Workshops</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt ut labore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4" *ngFor="let w of list">
				<div class="workshop-cards">
					<div class="card-text">
					    <a class="card-items"  data-toggle="pill">
					    	{{w.nom}}
					    	<span>2 hours</span>
					    </a>
						<a class="card-items-details"  data-toggle="pill">
					    	<div><span>Details : </span> {{w.description}} </div>
							<div><span>Tutor :</span>kais saiid</div>
					    </a>
					</div>
					<button class="button-rsrv" *ngIf="token">Reserver</button>
					
				</div>
			</div>
		</div>
	</div>
	
</section>



<app-footer></app-footer>
